@page
@model BaistClub.Pages.DeleteTeeTimeModel
@{
}
<h3>Delete Tee Time</h3>
@Html.Raw(Model.Msg)


<table>
    <tr>
        <td>
            <h3>Member ID</h3>
        </td>
       
        <td>
            <h3>StartDate</h3>

        </td>
        <td>
            <h3>StartTime</h3>
        </td>
       



    </tr>
</table>


@foreach (var record in @Model.TeeTimes)

{
<form method="post">

    <table>
        <tr>
           
          
            <td>
                <input type="text" asp-for="ToDeleteTime" hidden value="@Html.Raw(record.TimeTime)" />
                <input type="text" asp-for="ToDeleteDate" hidden value="@Html.Raw(record.StartDate)" />
                @Html.DisplayFor(modelItem => record.MemberID)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.TimeTime) <p> : </p> @Html.DisplayFor(modelItem => record.timetimemin)

            </td>
           
            <td>
                Delete Record
                <input type="submit" />
            </td>


        </tr>
    </table>
</form>

}

}