@page
@model BaistClub.Pages.DeleteTeeTimeModel
@{
}
<h3>Delete Tee Time</h3>
@Html.Raw(Model.Msg)


<table>
</table>


@foreach (var record in @Model.TeeTimes)

{
<table class="table">
    <tr>
        <th>
            <h3>Member ID</h3>
        </th>

        <th>
            <h3>StartDate</h3>

        </th>
        <th>
            <h3>StartTime</h3>
        </th>




    </tr>

    <form method="post">


        <tr>


            <td>
                <input type="text" asp-for="TeeTimeID" hidden value="@Html.Raw(record.TeeTimeID)" />
                
                @*<input type="text" asp-for="ToDeleteTime" hidden value="@Html.Raw(record.TimeTime)" />
                <input type="text" asp-for="ToDeleteDate" hidden value="@Html.Raw(record.StartDate)" />*@
                @Html.DisplayFor(modelItem => record.MemberID)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.TimeTime) <p> : </p> @Html.DisplayFor(modelItem => record.timetimemin)

            </td>

            <td>
                Delete Record
                <input type="submit" />
            </td>


        </tr>

    </form>
</table>
}

