@page
@model BaistClub.Pages.LoginModel
@{
}
<h3>Login Form</h3>
@Model.Msg
<form method="post" asp-page="Login">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" asp-for="@Model.Email" /></td>
            @Html.ValidationMessageFor(modelItem => modelItem.Email)
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="@Model.Password" /></td>
            @Html.ValidationMessageFor(modelItem => modelItem.Password)
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>