@page
@model BaistClub.Pages.ManageMembershipApplicationsModel
@{
}
<h3>Manage Membership Applications</h3>




    <table>
       
    </table>
    <table class="table">
        <tr>

            <th>
                <p>Member Name</p>
            </th>
            <th>
                <p>Referring Email 1</p>

            </th>
            <th>
                <p>Referring Email 2</p>
            </th>
            <th>
                <p>Status Of Application</p>
            </th>
            <th>
                <p>Member Name</p>
            </th>


        </tr>


        @foreach (var record in @Model.Requesters)
        {

            <form method="post">

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => record.MemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.ReferringMemberEmail_1)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.ReferringMemberEmail_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.StatusOfApplication)
                        <input type="text" asp-for="@Model.UpdateStatus" value="" />
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.EditedApplicantID" value="@Html.Raw(record.MemberID)" hidden />
                    </td>
                    <td>
                        <button type="submit">Update Member</button>
                    </td>

                </tr>

            </form>
        }

    </table>

<h4>Membership status codes</h4>
A - Accepted
B - Denied
H - On hold
W - Waitlisted