@page
@model BaistClub.Pages.RecordScoresModel
@{
}
<h2>Record Player Scores</h2>

<p>Update values and click submit for each hole</p>
<table>
    <tr>
        <td>
            <h6>Hole</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.HoleNumber)
        </td>
        <td>
            <h6>Date</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.TeeTimeStartDate)
        </td>
        <td>
            <h6>Time</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.TeeTiemStartTime)
        </td>

        <td>
            <h6>Par</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.Par)
        </td>
        <td>
            <h6>Red</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.Red)
        </td>
        <td>
            <h6>White</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.White)
        </td>
        <td>
            <h6>Blue</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.Blue)
        </td>

        <td>
            <h6>Stroke Index Men</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.StrokeIndexMan)
        </td>

        <td>
            <h6>Stroke Index Women</h6>
            @Html.ValidationMessageFor(modelItem => modelItem.StrokeIndexWoman)
        </td>
    </tr>
</table>

@Html.Raw(Model.Msg);




<form method="post">
    <table>


        <tr>


            <td>

                <input type="date" asp-for="@Model.HoleNumber" />

            </td>
            <td>
                <input type="text" asp-for="@Model.TeeTimeStartDate" />
            </td>
            <td>
                <input type="text" asp-for="@Model.TeeTiemStartTime" />

            </td>
            <td>
                <input type="text" asp-for="@Model.Par" />

            </td>

            <td>
                <input type="text" asp-for="@Model.Red" />

            </td>

            <td>
                <input type="text" asp-for="@Model.White" />

            </td>

            <td>
                <input type="text" asp-for="@Model.Blue" />

            </td>
            <td>
                <input type="text" asp-for="@Model.StrokeIndexMan" />

            </td>
            <td>
                <input type="text" asp-for="@Model.StrokeIndexWoman" />

            </td>





        </tr>

    </table>
    <button type="submit">Submit</button>
</form>

