@page
@model BaistClub.Pages.SceduleTeeTimeModel
@{
}
@Model.Message
<form method="post">
    <table>
        

            <tr>

                <p>Requested Start Date</p>
                <input type="date" asp-for="@Model.RequestedStartDate" />
                @Html.ValidationMessageFor(modelItem => modelItem.RequestedStartDate)
            </tr>
            <tr>
                <p>Start Time</p>
                <input type="time" asp-for="@Model.RequestedStartTime" />
                @Html.ValidationMessageFor(modelItem => modelItem.RequestedStartTime)
            </tr>
            <tr>
                <p>Additional Member 1</p>
                <input type="text" asp-for="@Model.MemberID2" />
                @Html.ValidationMessageFor(modelItem => modelItem.MemberID2)
            </tr>
            <tr>
                <p>Additional Member 2</p>
                <input type="text" asp-for="@Model.MemberID3" />
                @Html.ValidationMessageFor(modelItem => modelItem.MemberID3)
            </tr>
            <tr>
                <p>Additional Member 3</p>
                <input type="text" asp-for="@Model.MemberID4" />
                @Html.ValidationMessageFor(modelItem => modelItem.MemberID4)
            </tr>
            <tr>
                <p>Number of Golf Carts</p>
                <input type="text" asp-for="@Model.NumberOfCarts" />
                @Html.ValidationMessageFor(modelItem => modelItem.NumberOfCarts)
            </tr>
            <tr>
                <button type="submit">Submit</button>
            </tr>
        
    </table>
</form>