@page
@model BaistClub.Pages.ViewMembersModel
@{
}
<h3>View All Members</h3>

@Html.Raw(Model.Msg)

<table>
    <tr>
        <td>
            <p>Member ID</p>
        </td>
        <td>
            <p>Member Name</p>
        </td>
        <td>
            <p>AccountLevel</p>

        </td>
        <td>
            <p>MemberClass</p>
        </td>
        <td>
            <p>MemberPhone</p>
        </td>
        <td>
            <p>MemberAddress</p>
        </td>
        <td>
            <p>PostalCode</p>
        </td>
        <td>
            <p>Date Of Birth</p>
        </td>
        <td>
            <p>Date Of Application</p>
        </td>
        <td>
            <p>Referrer 1</p>
        </td>
        <td>
            <p>Referrer 2</p>
        </td>
    </tr>
</table>

@foreach (var record in @Model.Members)
{


    <table class="table">
        <tr>

            <td>
                @Html.DisplayFor(modelItem => record.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.MemberID)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.AccountLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => record.MemberClass)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.MemberPhone)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.MemberPhone)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.PostalCode)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.DOB)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.DateOfApplication)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.Referrer1)

            </td>
            <td>
                @Html.DisplayFor(modelItem => record.Referrer2)

            </td>



        </tr>
    </table>

}
